@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  background-color:  hsl(212, 45%, 89%);
  color: red;
   font-family: "Outfit", serif;
}

div div img {
  display: block;
  margin-top: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
  height: auto;
  border-radius: 30px;
}
p {
  font-size: 20px;
  padding: 0 30px;
  box-sizing: border-box;
  font-family: "calibri;
}
section {
  background-color: white;
  width: 350px;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  height: 550px;
}
div h2 {
  text-align: center;
  color: hsl(218, 44%, 22%);
  padding: 0 30px;
  box-sizing: border-box;
}
div p {
  text-align: center;
  color: hsl(216, 15%, 48%);
  font-size: 15px;
}
div div img {
  align-content: center;
  padding: 15px;
  box-sizing: border-box;
}
@media screen and (max-width: 375) {
  div div img {
    margin-top: 10px;
    height: 10vh;
  }
} 
  
